@import "vars";
@import "libs";
@import "headlines";

body {
	font-family: 'PT Sans', sans-serif;
	min-width: 320px;
}
.main {
	background-color: #fcdb00;
	padding-top: 58px;
	padding-bottom: 20px;
}

.logo {
	display: flex;
	justify-content: flex-start;
	@media(max-width: 992px){
		margin-bottom: 20px;
		justify-content: center;
	}

}

.menu {
	padding: 0;
	margin: 0;
	min-height: 43px;
	list-style-type: none;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-around;
	&__item {
		padding: 0;
		color: #000;
		a {
			font-size: 22px;
			font-weight: 700;
			text-decoration: none;
			color: #000;

		}
	}

}
.appInfo {
	margin-top: 71px;
	@media(max-width: 992px){
		margin-top: 20px;
	}
}
.appImg {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
.appText {
	margin-top: 72px;
	@media(max-width: 992px){
		margin-top: 10px;
	}

}
.downloadApp {
	display: flex;
	flex-wrap: wrap;
	max-width: 200px;
	margin-bottom: 20px;
	justify-content: space-between;
	&__icon{
		margin: 0 10px;
		text-decoration: none;
		color: #000;
		&:hover {
				text-decoration: none;
		}
		i {
			font-size: 50px;
		}
	}
	@media(max-width: 992px){
		max-width: 100%;
		justify-content: center;

	}
}
.features {
	padding-top: 101px;
	@media(max-width: 992px){
		padding-top: 20px;
	}
}
.appAdwantagWrap {
	margin-top: 90px;
	@media(max-width: 992px){
		margin-top: 20px;
	}
}
.appAdwantage{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	&__col{
		margin-bottom: 20px;
		&--last {
			flex-basis: 220px;
			@media(max-width: 992px){
				flex-basis: auto;
			}
		}
	}
	&__headline {
		margin-bottom: 16px;
		font-size: 22px;
		@media(max-width: 992px){
			text-align: center;
		}
	}
	&__description{
		color: #c8c8c8;
		@media(max-width: 992px){
			text-align: center;
		}
	}
	&__icon {
		color: #000;
	}
}
.subscribe {
	background-color: #010101;
	padding-top: 90px;
	padding-bottom: 100px;
	@media(max-width: 992px){
		padding-top: 20px;
		padding-bottom: 30px;

	}

}



@import "media"; // Always at the end
